/* _source-sans-pro.scss
    
    Font definition for 'Source Sans Pro'.
*/

// Regular
@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-Italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 400;
}

// Light
@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-Light.ttf') format('ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-LightItalic.ttf')
        format('ttf');
    font-style: italic;
    font-weight: 200;
}

// Extra light
@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-ExtraLight.ttf') format('ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-ExtraLightItalic.ttf')
        format('ttf');
    font-style: italic;
    font-weight: 100;
}

// Semi-bold
@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-SemiBoldItalic.ttf')
        format('ttf');
    font-style: italic;
    font-weight: 500;
}

// Bold
@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-BoldItalic.ttf')
        format('ttf');
    font-style: italic;
    font-weight: 600;
}

// Extra bold
@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-Black.ttf')
        format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('app://assets/font/source-sans-pro/SourceSansPro-BlackItalic.ttf')
        format('ttf');
    font-style: italic;
    font-weight: 700;
}
