@charset "UTF-8";

/* Imports */

@use 'sass:map';
@use 'vars';
@use 'grid';

/* Meta */

body {
    background: map.get(vars.$colors, white);
    margin: 0;
    
    color: map.get(vars.$colors, primary);
    font-family: 'Open Sans';
    font-size: 16px;
    
    * {
        box-sizing: border-box;
    }
    
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

/* Layout */

@include grid.grid(12);
