/* _index.scss
    
    General styling and layout for the output view.
*/

@charset "UTF-8";

/* Imports */

@use 'lib';

/* Meta */

@include lib.grid(12);

body {
    margin: 0;
    
    color: lib.color(black);
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 200;
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.underline {
    text-decoration: underline;
}

/* Layout */

#recipe-cards {
    width: 6in;
    margin: 0 auto;
}

.recipe-card {
    position: relative;
    background-image: url('app://assets/img/recipe-bg.jpg') !important;
    background-size: cover;
    height: 4in;
    padding: 0.25in;
    margin: 0 auto 20px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    strong {
        font-weight: 600;
    }
    
    header {
        margin-bottom: 0.125in;
        
        h1,
        h2,
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            
            font-family: 'Amatic SC';
        }
        
        h2,
        h3 {
            color: lib.color(gray);
            font-style: italic;
        }
        
        h1 {
            font-size: 1.3rem;
        }
        
        h2 {
            font-size: 1rem;
            text-align: right;
        }
        
        h3 {
            font-size: 0.9rem;
        }
    }
    
    &.instructions header {
        margin-bottom: 0.125in;
        
        h3 {
            font-size: 0.8rem;
        }
    }
    
    .columns {
        column-count: 2;
        column-gap: lib.$gutter * 2;
        overflow: auto;
        
        line-height: 1.4;
        
        ul,
        ol {
            li {
                margin-bottom: 0.3125em;
                break-inside: avoid;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul {
            padding-left: 0.35in;
            
            li {
                list-style-type: circle;
            }
        }
        ol {
            padding-left: 0.325in;
            
            li {
                padding-left: 0.025in;
            }
        }
        
        > * {
            margin-top: 0;
            margin-bottom: 1em;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        * {
            break-inside: avoid-column;
        }
        
        .allow-break {
            break-inside: auto;
            
            .break {
                break-before: column;
            }
        }
    }
}
