@use 'lib';

@media print {
    body {
        background: #fff;
        -webkit-font-smoothing: antialiased;
    }
    
    #recipe-cards {
        transform: none !important;
        
        .recipe-card {
            -webkit-print-color-adjust: exact;
            border: 1px dotted lib.color(gray-light-1);
        }
        
        &.print-double-sided {
            .recipe-card {
                break-after: page;
                
                &:nth-child(even) {
                    border: none;
                }
            }
        }
        
        &.print-foldable {
            .recipe-card {
                margin-bottom: 3px;
                
                &:nth-child(even) {
                    transform: rotate(180deg);
                    transform-origin: center center;
                }
            }
        }
    }
}
