/* _index.scss
    
    General styling and layout for the browser view.
*/

@use 'lib';

/* Meta */

@include lib.grid(12);

body {
    background: lib.color(white);
    margin: 0;
    
    color: lib.color(primary);
    font-family: 'Open Sans';
    font-size: 16px;
    
    * {
        box-sizing: border-box;
    }
    
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

/* Layout */

header,
main {
    padding: lib.$gutter 0;
}

header h1 {
    margin: 0;
}

#browser-form {
    margin-bottom: lib.$gutter * 2;
}
